@use '../util/' as u;
.following {
  width: 100%;
  &__all{
    width: 100%;
  }
  &__line {
    display: flex;
    flex-direction: row;
    gap: u.rem(10);
      overflow-x: auto;
    white-space: nowrap;
    padding: u.rem(15) 0;
    top: 0;         
    background: transparent;
    z-index: 100;      

    &-space {
      flex-shrink: 0;
      width: u.rem(85);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .feed__profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      white-space: wrap;
      flex-shrink: 0;
      img.feed__profile-img {
        width: u.rem(50);
        height: u.rem(50);
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: u.rem(0);
      }

      p {
        color: var(--color-text);
        margin: 0;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
        width: 100%;
      }
    }
  }
  @include u.breakpoint-down("large") {
    width: 100%;
     &__line {
     display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;

  }
  }
  @include u.breakpoint-down("medium") {
    width: 100%;
     &__line {
     display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
      &__space{
        padding: 0;
      }
  }
  }
}
