@use "../util/" as u;

.footer {
 background: var(--color-bg);
  text-align: center;
  display: grid;

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: u.rem(100);
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding-top: u.rem(20);
    padding-bottom: u.rem(20);
    border: u.rem(1) solid var(--color-border);
    color: var(--color-text);
    width: 100%;
  }
  &__left {
    display: flex;
    justify-content: flex-end;

    .col {
      display: flex;
      flex-direction: column;
      flex-direction: column;  
      gap: 0;
      margin: 0;
      padding: 0;
      line-clamp: calc(23);

      h1 {
        color: var(--color-text);
        line-height: 0.98;
        margin: 0;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-start;

    .col {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: u.rem(6);
        align-items: baseline;
        a {
          color: var(--color-text);
          text-decoration: none;
          font-size: 0.9em;
        }
      }
    }
  }

  &__bottom {
    margin-top: u.rem(10);
    padding-top: u.rem(10);
    padding-bottom: u.rem(4);
    color: var(--color-text);
    //font-size: 0.85em;
  }
  @include u.breakpoint-down("large") {
    .footer {
    width: fit-content;
    }
  }
  @include u.breakpoint-down("medium") {
   .footer {
    width: fit-content;
    width: 100%;
    }
  }
}
