@use '../util/' as u;
.gallery {
  margin: 0 auto;
  padding: u.rem(1);
  &__title {
    margin-bottom: u.rem(1);
  }
  &__upload {
  display: flex;
  margin: u.rem(25);
  flex-direction: column;
  background: var(--color-bg);
  border-radius: u.rem(5);
  border: u.rem(1) solid var(--color-border);
  min-height: max-content;
  padding: u.rem(20) u.rem(40);
  align-items: center;
   .title__input {
       flex: 1;
      padding: u.rem(12) u.rem(15);
      border-radius: u.rem(8);
      border: u.rem(1) solid;
      border-color: var(--color-text);
      background-color: var(--color-header-bg);
      outline: none;
      min-width: fit-content;
      width: 50%;
      border: u.rem(1)solid var(--color-border);
      color: var(--color-text);
      margin-bottom: u.rem(5);
    }

    .save-btn {
      margin-bottom: u.rem(5);
      padding: u.rem(10) u.rem(20);
      background: var(--color-highlight);
      color: var(--color-text);
      border: none;
      border-radius: u.rem(10);
      width: 50%;
      cursor: pointer;
      transition: background-color 150ms ease-in-out;
      &:hover {
        background-color: var(--color-secondary);
      }
      &:active {
        background: var(--color-secondary);
      }
    }
  }

  &__message {
    color: var(--color-highlight);
    margin-bottom: u.rem(1);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: u.rem(5);

  }
&__preview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: u.rem(12);
  border-radius: u.rem(5);
  max-width: 50%;
}
  &__item-container {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: u.rem(2);

    &:hover .gallery__overlay {
      opacity: 1;
      transform: translateY(0);
    }

    &:hover img {
      transform: scale(1.05);
      filter: brightness(0.7);
    }
  }

  &__item {
    width: 100%;
    height: u.rem(300);
    object-fit: cover;
    border-radius: u.rem(5);
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: u.rem(0.5);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    opacity: 0;
    transform: translateY(u.rem(25));
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .gallery__caption {
      margin-bottom:u.rem(0.5);
    }

    & .gallery__delete-btn {
      background: red;
      border: none;
      padding: u.rem(0.3) u.rem(0.6);
      color: white;
      border-radius: u.rem(5);
      cursor: pointer;
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    text-align: end;
  &-delete {
    background: rgba(255, 0, 0, 0.459);
    border: none;
    color: #fff;
    padding: u.rem(0.5) u.rem(1);
    border-radius: u.rem(5);
    cursor: pointer;
  }
}
  @include u.breakpoint-down("large") {
     &__upload {
      margin: u.rem(15);
     }
  }
   
  @include u.breakpoint-down("medium") {
    margin: 0;
    padding: u.rem(10) u.rem(5) ;
    &__upload {
      width: 100%;
      align-content: center;
      margin: u.rem(0);
      margin-bottom: u.rem(15);
      .title__input,
      .save-btn{
        width: 100%;
      }
     }
     &__grid{
      width: fit-content;
    grid-template-columns: repeat(3, 1fr);
     }
     &__item{
      width: 100%;
    height: u.rem(150);
    }
}
}
