@forward 'home';
@forward 'navbar';
@forward 'profile';
@forward 'gallery';
@forward 'footer';
@forward 'search';
@forward 'feed';
@forward 'following';
@forward 'signin';
@forward 'portfolio';
@forward 'settings';