@use "../util/" as u;
@import url("https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merienda:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.desktop-only {
  display: flex;
}
.tablet-only {
  display: none;
}
.mobile-only {
  display: none;
}
.header {
  color: var(--color-text);
  height: u.rem(70);
  padding: u.rem(10) u.rem(30);
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;
  width: 100%;
  align-items: center;

  margin-top: u.rem(2);
  margin-bottom: u.rem(20);
  padding-top: u.rem(10);
  border: u.rem(1) solid var(--color-border);
  color: var(--color-text);

  &__left {
    display: flex;
    align-items: center;
    padding-left: u.rem(15);

    a {
      font-family: "Merienda", cursive;
      color: var(--color-text);
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: var(--color-accent);
      }
    }
  }
  &__center {
    display: inherit;
    gap: u.rem(32);
    position: absolute;
    inset-inline-start: 43.5%;

    a {
      color: var(--color-text);
      text-decoration: none;
      line-height: 1.3;
      transition: color 0.3s ease-in-out;

      &.active {
        color: var(--color-accent);
      }

      &:hover {
        color: var(--color-highlight);
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    .header__btn-menu {
      display: flex;
      align-items: center;
      gap: u.rem(8);
      padding-right: u.rem(15);

      .btn {
        padding: u.rem(11) u.rem(20);
        border: none;
        border-radius: u.rem(10);
        background: var(--color-primary);
        color: var(--color-bg);
        //font-family: "Inter", sans-serif;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background: var(--color-secondary);
          font-weight: 500;
        }
      }

      .btn__outline {
        padding: u.rem(11) u.rem(20);
        border-radius: u.rem(10);
        border: none;
        background: var(--color-bg);
        color: var(--color-text);
        //font-family: "Inter", sans-serif;
        //font-size: u.rem(14);
        box-shadow: inset 0 0 0 u.rem(2) var(--color-text);
        transition: all 0.3s ease-in-out;

        &:hover {
          box-shadow: inset 0 0 0 u.rem(2) var(--color-accent);
          background: var(--color-secondary);
          font-weight: 500;
        }
      }
    }

    .header__user-menu {
      position: relative;
      display: inline-block;
      .dropdown-menu {
        display: inline-flex;
        align-items: center;
        position: inherit;
        gap: u.rem(8);
        padding-right: u.rem(15);
        cursor: pointer;

        border: none;
        p {
          color: var(--color-text);
        }

        .avatar {
          width: u.rem(40);
          height: u.rem(40);
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .dropdown {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: u.rem(140);
        right: 0;
        margin: 0;
        padding: 0;
        background: var(--color-bg);
        border: u.rem(1) solid var(--color-border);
        border-radius: u.rem(10);
        list-style: none;

        overflow: hidden;
        transition: all 0.5s ease;
        z-index: 10;
        text-align: left;

        li {
          text-decoration: none;
          display: block;

          cursor: pointer;
          color: var(--color-text);
          font-size: u.rem(14);
          text-align: center;
          width: inherit;
          transition: background-color 0.5s ease, color 0.2s ease;

          a,
          button {
            display: block;
            padding: u.rem(12) 0 u.rem(12) 0;
            text-decoration: none;
            color: inherit;
          }

          &:hover {
            background: var(--color-secondary);
            color: var(--color-text);
          }
        }
      }

      &:hover .dropdown {
        height: auto;
        transform: translateY(0);

        display: block;
      }
    }
  }

  @include u.breakpoint-down("large") {
    .desktop-only {
      display: block;
    }
    .tablet-only {
      display: block;
    }
    .mobile-only {
      display: none;
    }
    .header__center {
      display: inherit;
      inset-inline-start: 40%;
      gap: u.rem(15);
    }
    .header__user-menu .dropdown {
      display: none;
    }

    .header__user-menu.open .dropdown {
      display: block;
    }
  }

  @include u.breakpoint-down("medium") {
    .desktop-only {
      display: none;
    }
    .mobile-only {
      display: flex;
      align-items: center;
    }
    .burger-btn {
      display: flex;
      flex-direction: column;
      width: u.rem(24);
      height: u.rem(18);
      background: none;
      border: none;
      cursor: pointer;
      padding: u.rem(5);
      padding: 0;

      .burger-menu {
        width: 100%;
        height: 100%;
        color: var(--color-text);
        align-items: center;
      }
    }
    .mobile-dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: var(--color-bg);
      border-top: u.rem(1) solid var(--color-border);
      display: flex;
      flex-direction: column;
      z-index: 20;
      padding: u.rem(10) u.rem(20);
      border-radius: u.rem(10);
      list-style: none;

      transition: all 0.4s ease;

      .username {
        padding: u.rem(0.6) u.rem(1.5);
        font-weight: 600;
        text-align: center;
      }

      .avatar {
        width: u.rem(40);
        height: u.rem(40);
        border-radius: 50%;
        margin: 0 auto u.rem(1) auto;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      a {
        cursor: pointer;
        color: var(--color-text);
        font-size: u.rem(16);
        text-align: center;
        width: inherit;
        transition: background-color 0.2s ease, color 0.2s ease;
        padding: u.rem(12) 0 u.rem(12) 0;
        transition: background-color 0.2s ease, color 0.2s ease;
        &:hover {
          background: var(--color-secondary);
          color: var(--color-text);
        }
      }
      li {
        cursor: pointer;
        color: var(--color-text);
        font-size: u.rem(16);
        text-align: center;
        width: inherit;
        transition: background-color 0.2s ease, color 0.2s ease;

        a,
        button {
          display: block;
          padding: u.rem(12) 0 u.rem(12) 0;
          text-decoration: none;
          color: inherit;
        }

        &:hover {
          background: var(--color-secondary);
          color: var(--color-text);
        }
      }
    }
  }
}
