@use "../util" as u;

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
  border-radius: u.rem(5);
  padding: u.rem(50);
  border: u.rem(1) solid var(--color-border);
  min-height: max-content;
  &__all {
    padding: u.rem(20) u.rem(50);
  }
  &__edit-icon {
    text-align: right;
    cursor: pointer;
    margin-bottom: u.rem(32);
    color: var(--color-highlight);
    transition: color 0.3s ease;
    &:hover {
      color: var(--color-secondary);
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: u.rem(64);
    justify-content: center;
    text-align: justify;
    margin-bottom: u.rem(48);
    text-align: justify;
    align-self: center;

    &-empty {
      padding-top: u.rem(56);
    }
    &__avatar {
      width: 100%;
      height: u.rem(350);
      background: hsl(35, 40%, 70%, 0.1);
      border-radius: u.rem(15);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      align-self: center;
      &-img {
        width: 100%;
        height: u.rem(400);
        background: #91630818;
        border-radius: u.rem(15);
        flex-shrink: 0;
        object-fit: cover;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: u.rem(0);
      text-align: center;

      .profile-name {
        @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(36), u.rem(48));
        color: var(--color-text);
        font-weight: 700;
        margin-bottom: 0;
      }
      .email {
        @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(28), u.rem(16));
        color: var(--color-highlight);
        margin: 0;
      }
      .text__input {
        flex: 1;
        padding: u.rem(12) u.rem(15);
        border-radius: u.rem(8);
        border: u.rem(1) solid;
        border-color: var(--color-text);
        background-color: var(--color-header-bg);
        outline: none;
        width: 100%;
        border: 1px solid var(--color-border);
        color: var(--color-text);
      }
      .input__about {
        flex: 1;
        padding: u.rem(12) u.rem(15);
        border-radius: u.rem(8);
        border: u.rem(1) solid;
        border-color: var(--color-text);
        background-color: var(--color-header-bg);
        color: var(--color-text);
        outline: none;
        width: 100%;
        border: 1px solid var(--color-border);
        margin: 0;
        padding-right: 10px;
        max-height: 800px;
        min-height: 500px;
        width: 100%;
        overflow-y: auto;
        white-space: normal;
        resize: none;
      }
      .profile-title {
        color: var(--color-highlight);
        margin-bottom: u.rem(5);
        outline: none;
      }

      .profile-links {
        margin-top: u.rem(32);
        p {
          margin-bottom: u.rem(8);
          color: var(--color-text);
        }

        .link-list {
          display: flex;
          flex-direction: column;
          gap: 6px;
        }
        .link-item {
          width: 100%;
          text-align: center;
          align-self: start;
          justify-self: center;
          justify-content: center;
          align-items: center;
        }
        .link-item a {
          color: var(--color-accent);
          text-decoration: none;
          word-break: break-all;
        }

        .link-item a:hover {
          text-decoration: underline;
        }
      }

      .btn-follow,
      .save-btn {
        width: 100%;
        margin-top: u.rem(16);
        padding: u.rem(10) u.rem(20);
        background: var(--color-accent);
        color: var(--color-text);
        border: none;
        border-radius: u.rem(10);
        cursor: pointer;
        transition: background-color 150ms ease-in-out;

        &:active {
          background: var(--color-secondary);
        }
      }
    }
    &__following {
      display: flex;
      text-align: justify;
      align-self: center;
      gap: u.rem(50);
      margin-top: u.rem(12);
      span {
        cursor: pointer;
      }
    }
  }

  &__section {
    margin-bottom: u.rem(40);

    .section-title {
      font-weight: 700;
      margin-bottom: u.rem(16);
      color: var(--color-text);
    }
    &__about {
      margin-bottom: u.rem(1);
      margin-top: u.rem(1);
      padding-right: u.rem(10);
      max-height: u.rem(800);
      overflow-y: scroll;
      white-space: wrap;
    }
  }

  .portfolio-link {
    display: block;
    padding: u.rem(10);
    margin-bottom: u.rem(18);
    border: u.rem(1) solid var(--color-dark-3);
    border-radius: u.rem(5);
    text-decoration: none;
    color: inherit;
  }

  .works {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: u.rem(16);

    .work-item {
      background: hsl(0, 0%, 93%);
      padding: u.rem(28);
      text-align: center;
      border-radius: u.rem(8);
      font-weight: 500;
      color: var(--color-text);
    }
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: u.rem(16);

    .gallery-item {
      background: hsl(0, 0%, 80%);
      height: u.rem(140);
      border-radius: u.rem(6);
      overflow: hidden;
    }
  }

  @include u.breakpoint-down("large") {
    padding: 0;
    padding-top: u.rem(10);
    &__all {
      padding: u.rem(10) u.rem(0);
    }
    &__edit-icon {
      margin: u.rem(20);
    }
    &__wrapper {
      grid-template-columns: 1fr;
      gap: u.rem(32);
      text-align: center;
      &-empty {
        padding-top: u.rem(56);
        padding-bottom: u.rem(56);
      }
      &__avatar {
        height: 100%;
        width: u.rem(400);
        background: hsl(35, 40%, 70%, 0.1);
        border-radius: u.rem(15);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        align-self: center;
        &-img {
          height: 100%;
          width: u.rem(400);
          border-radius: u.rem(5);
          object-fit: cover;
        }

        &__info {
          padding: 0;
          align-items: center;
        }

        .save-btn {
          width: 100%;
        }
      }

      .portfolio-art,
      .works,
      .gallery {
        grid-template-columns: 1fr;
      }
    }
  }
  @include u.breakpoint-down("medium") {
    padding: 0;
    &__edit-icon {
      margin-top: u.rem(20);
      margin-bottom: u.rem(20);
      margin-right: 0;
    }
    &__all {
      padding: u.rem(5) u.rem(20);
    }
    &__wrapper {
      grid-template-columns: 1fr;
      gap: u.rem(20);
      text-align: center;
      &__avatar {
        height: 100%;
        width: u.rem(300);
        background: hsl(35, 40%, 70%, 0.1);
        border-radius: u.rem(15);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        align-self: center;
        &-img {
          height: 100%;
          width: u.rem(400);
          border-radius: u.rem(5);
          object-fit: cover;
        }
        &__info {
          align-items: center;
        }
        .save-btn {
          width: 100%;
        }
      }

      .portfolio-art,
      .works,
      .gallery {
        grid-template-columns: 1fr;
      }
    }
  }
}
.save-btn {
  width: 100%;
  margin-top: u.rem(16);
  padding: u.rem(10) u.rem(20);
  background: var(--color-accent);
  color: var(--color-text);
  border: none;
  border-radius: u.rem(10);
  cursor: pointer;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background: var(--color-secondary);
  }
}
.add-btn {
  margin-top: u.rem(16);
  padding: u.rem(10) u.rem(20);
  background: var(--color-accent);

  color: var(--color-text);
  border: none;
  border-radius: u.rem(10);
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
  &:hover {
    background-color: var(--color-secondary);
  }
}
.link-btn {
  margin-top: u.rem(16);
  padding: u.rem(2);
  background: transparent;
  color: var(--color-text);
  border: none;
  border-radius: u.rem(10);
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  li {
    display: flex;
    align-items: center;
    margin-bottom: u.rem(20);
  }
}

.modal-content {
  background-color: var(--color-bg);
  border-radius: u.rem(5);
  padding: u.rem(20);
  width: 100%;
  max-width: u.rem(400);
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0 u.rem(4) u.rem(15) rgba(0, 0, 0, 0.2);
  z-index: 1000;
  img {
    width: u.rem(45);
    height: u.rem(45);
    border-radius: 50%;
    margin-right: u.rem(10);
  }
  span {
    flex-grow: 1;
  }
}

.modal-content button {
  margin-top: u.rem(10);
  padding: u.rem(6) u.rem(12);
  border: none;
  background-color: var(--color-accent);
  color: white;
  border-radius: u.rem(5);
  cursor: pointer;
  &:hover {
    background-color: var(--color-secondary);
  }
}
