@use "../util/" as u;

.search {
  &__bar {
    display: flex;
    gap: u.rem(2);
    margin-bottom: u.rem(20);
    width: 100%;
  }
  h2 {
    margin-bottom: u.rem(15);
  }
  &__input {
    flex: 1;
    padding: u.rem(12) u.rem(15);
    border-radius: u.rem(8);
    border: u.rem(1) solid;
    border-color: var(--color-text);
    background-color: var(--color-header-bg);
    outline: none;
    width: 100%;
    border: 1px solid var(--color-border);
    color: var(--color-text);
    //font-size: 0.85em;
  }
  &__btn {
    padding: u.rem(4) u.rem(20);
     background: var(--color-highlight);
  color: var(--color-text);
  border: none;
  border-radius: u.rem(10);
  //font-size: u.rem(14);
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
  &:hover {
    background-color: var(--color-secondary);
  }
  }
  &__tabspace {
    display: flex;
    gap: u.rem(6);
    margin-bottom: u.rem(15);
    width: 100%;
  }
  &__tab {
    flex-shrink: 0;
    padding: u.rem(10) u.rem(20);
    border: none;
      background: transparent;
    cursor: pointer;
    border-bottom: u.rem(2) solid transparent;
    font-weight: normal;
    color: var(--color-text);}

  &__tab.active{
  border-bottom:u.rem(2) solid var(--color-accent);
  color: var(--color-accent);
  }
  &__info{
    margin-top: u.rem(20);
  }
   .portfolio-link {
    display: block;
    padding: u.rem(10);
    margin-bottom:u.rem(8);
    border: 1px solid var(--color-dark-3);
    border-radius: u.rem(5);
    text-decoration: none;
    color: inherit;
  }
  @include u.breakpoint-down("large") {
    .search{width: 100%;}
    
  }
    @include u.breakpoint("medium") {
      .search{width: 100%;}
    }
  @include u.breakpoint-down("medium") {
    
     &__bar {
    display: flex;
    gap: u.rem(2);
    margin-bottom: u.rem(20);
    width: 100%;
  }
  &__tabspace {
    gap: u.rem(10);
    width: 80%;
  }
  &__tab {
    flex-shrink: 1;
    padding: u.rem(8) u.rem(16);
    border: none;
      background: transparent;
    cursor: pointer;
    border-bottom: u.rem(2) solid transparent;
    font-weight: normal;
    color: var(--color-text);
  }
  }
  
}
