@use '../util/' as u;
@import url("https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merienda:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    min-height: fit-content;
}
body {
    margin: 0;
    font-family:"IBM Plex Mono", monospace;
    background: var(--color-bg);
    color: var(--color-text);
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
background: radial-gradient(circle,rgba(250, 247, 246, 1) 86%, rgba(250, 247, 246, 0.76) 100%, rgba(211, 181, 160, 0.76) 100%, rgba(220, 122, 52, 0.18) 100%);}
main {
    position: relative;
    box-sizing: inherit;
    margin: u.rem(5) u.rem(350);
    height: 100%;
    min-height: 80vh;
    padding-bottom: u.rem(60);
    padding-top: u.rem(30);
}
