:root,
[data-theme="light"] {
    --color-bg: hsl(15, 29%, 97%);
    --color-header-bg: hsla(60, 12%, 95%, 0.199);
    //--color-text: hsl(60, 53%, 3%);
    --color-accent: hsl(60, 53%, 40%);
    --color-secondary: hsl(60, 64%, 75%);
    --color-highlight: hsl(60, 37%, 28%);
    --color-border: hsl(60, 3%, 92%);
    --color-text: hsl(80, 16%, 15%);
    --color-dark-1: hsla(80, 16%, 15%, 0.637);
    --color-dark-2: hsla(80, 16%, 15%, 0.473);
    --color-dark-3: hsla(80, 16%, 15%, 0.308);
    --color-dark-4: hsla(80, 16%, 15%, 0.219);
}
[data-theme="dark"],
body.dark {
  --color-bg: hsl(60, 20%, 2%);
  --color-text: hsl(60, 50%, 97%);
  --color-accent: hsla(60, 72%, 31%, 0.788);
  --color-secondary: hsl(60, 64%, 25%);
  --color-highlight: hsl(60, 75%, 40%);
  --color-border: #2a2a2a;
   --color-dark-1: hsla(80, 16%, 15%, 0.637);
    --color-dark-2: hsla(80, 16%, 15%, 0.473);
    --color-dark-3: hsla(80, 16%, 15%, 0.308);
    --color-dark-4: hsla(80, 16%, 15%, 0.219);
}