:root {
    --color-bg: #faf7f6;
    --color-header-bg: hsla(60, 12%, 95%, 0.397);
    --color-text: hsl(80, 16%, 15%);
    --color-accent: #dc7a34;
    --color-secondary: #d3b5a0;
    --color-highlight: #dc7a34;
    --color-text: hsl(80, 16%, 15%);
    --color-dark-1: hsla(80, 16%, 15%, 0.637);
    --color-dark-2: hsla(80, 16%, 15%, 0.473);
    --color-dark-3: hsla(80, 16%, 15%, 0.308);
    --color-dark-4: hsla(80, 16%, 15%, 0.219);
}