.rounded {
    border-radius: 16px;
    overflow: hidden;
}
ul{
    list-style: none;
}
em {
    font-style: normal;
    background: var(--color-highlight);
}
.title-text{
    font-family: 'Merienda', cursive;
    font-size: 50px;
    font-weight: 800;
    padding: 30px;
}
.footer-text{
    font-family: 'Merienda', cursive;
}