@use '../util/' as u;
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merienda:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

//everything styling on page flexbox itp
.wrapper {
  width: min(100% - 40px, u.rem(1100));
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: u.rem(24);
  background: var(--color-bg);
  &__link {
    margin: 0;
    font-family: 'Merienda', cursive;
    text-decoration: none;
    color: var(--color-text);
    cursor: pointer;
    transition: color 150ms ease-in-out;

    &:hover {
      color: var(--color-accent);
    }
  }

  &.has-padding {
    padding-block: u.rem(40);

    @include u.breakpoint(medium) {
      padding-block: u.rem(60);
    }
  }
}
