@use '../util/' as u;

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 500;
  line-height: 1;
  &.text-decorational-part{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(transparent);
  color: transparent;
}
}

h1 {
  @include u.fs-fluid(u.rem(370), u.rem(1200), u.rem(28), u.rem(36));
  color: var(--color-text);
}

h2 {
  @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(22), u.rem(24));
  
}
h4 {
  @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(24), u.rem(16));
  color: var(--color-accent);
}
p {
  @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(16), u.rem(18));
  color: var(--color-text);
  line-height: 1.6;
  &.bold{
    font-weight: 700;
  }
  &.medium {
    font-size: u.rem(15);
  }
  &.small {
    font-size: u.rem(13);
  }
  &.truncate{
    height: 54px;
    overflow: hidden;
    position: relative;
  }
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: color 150ms ease-in-out;
  cursor: pointer;
  
  &:hover {
    color: var(--color-accent);
  }
  
}
p > a {
  color: var(--color-text);
  text-decoration: underline;
  transition: color 150ms ease-in-out;

  &:hover {
    color: var(--color-accent);
  }
}
.material-icons {
  font-family: 'Material Icons' !important;
  display: inline-block;
  
}